.feed-form {
    display: flex;
    flex-direction: column;
    width: 30rem;

    input {
        
        height: 5rem;
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 0 2rem;
        border: none;
        margin-bottom: 1.5rem;
        color: black;

        &::placeholder {
            color: #4B4B4B;
        }
    }


    &_mt25{
        margin-top: 2.5rem;
    }
}
